/* credit: https://codepen.io/ekfuhrmann/pen/OJmRVPj */
.bookshelf-container {
  display: flex;
  align-items: flex-end;
  min-height: 310px;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  pointer-events: none;
  padding-block-end: 1em;
}
.bookshelf {
  max-width: 1000px;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  height: 0px;
  box-sizing: border-box;
  border-bottom: 16px solid #f3f3f3;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  pointer-events: all;
}
.bookshelf::before {
  content: "";
  position: absolute;
  top: 16px;
  background: linear-gradient(90deg, #fafafa 0%, #fff 100%);
  height: 26px;
  width: calc(100% + 40px);
  box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.05), 0px 4px 16px rgba(0, 0, 0, 0.25);
  z-index: 2;
}
.books {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10%;
  width: 80%;
  margin: auto;
  transform: translateY(-100%);
  padding: 0 0 2px;
  position: relative;
  top: 10px;
}
.book {
  width: 100%;
  border-radius: 3px 0.5px 0.5px 3px;
  aspect-ratio: 0.6388888889;
  position: relative;
}
.book:hover::before, .book:hover::after {
  transition: transform 600ms cubic-bezier(0.34, 1.56, 0.64, 1), opacity 600ms cubic-bezier(0.34, 1.56, 0.64, 1);
}
.book:hover::before {
  transform: translate(0, -45%) skew(3deg, -3deg) scale(1.35);
}
.book:hover::after {
  transform: translate(0, -45%) skew(3deg, -3deg) scale(1.275);
}
.book:hover:nth-of-type(even)::before {
  transform: translate(0, -45%) skew(-3deg, 3deg) scale(1.35);
}
.book:hover:nth-of-type(even)::after {
  transform: translate(0, -45%) skew(-3deg, 3deg) scale(1.275);
}
.book::before, .book::after {
  position: absolute;
  width: 100%;
  display: block;
  content: " ";
  transition: all 300ms ease-out;
  background: var(--bg-image) center center/cover no-repeat, #f3f3f3;
}
.book::before {
  height: 100%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), inset 2px 0px 2px 1px rgba(29, 27, 27, 0.2);
}
.book::after {
  height: 102%;
  filter: blur(10px);
  z-index: -1;
  opacity: 1;
}
