/* Guestbook styling */
.guestbook {
    overflow: hidden;
  }
  
  .gb-entry {
    display: none; /* Hidden by default */
  }
  
  /* The "show" class is added to the filtered guestbook entries*/
  .show {
    display: block;
  }
  
  .sign-gb {
    width: auto;
  }
  
  .gb-container, .gb-reply-container, .gb-form-container {
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
    padding: 3px;
    background: silver;
    margin: 0 20px 10px 0;
  }
  
  .gb-reply-container {
    margin: 0 0 20px 20px;
  }
  
  .gb-form-container{
    width: 80%;
    margin: 0;
  }
  
  @font-face {
    font-family: 'Pixel Sans Serif';
    src: url('/fonts/Pixel\ Sans\ Serif.ttf');
  }
  
  .gb-meta, .gb-reply-meta {
    background: linear-gradient(90deg,#018281,#962e8d);
    padding: 0 0 0 4px;
    color: #ffffff;
    border: 2px outset silver;
    font-family: 'Pixel Sans Serif', Arial;
    font-size: 40%;
    -webkit-font-smoothing: none;
    line-height: 3em;
  }
  
  .gb-meta a, .gb-reply-meta a {
    color: #ffffff;
  }
  .gb-reply-container a, .gb-message a {
    color: #962e8d;
  }
  .gb-reply-container a:hover {
    -webkit-text-fill-color: #962e8d; /** needed given styling of bolded links **/
    text-shadow: none;
  }
  
  .gb-reply-meta {
    background: linear-gradient(90deg,#490b64,#018281);
  }
  
  @font-face {
    font-family: w95fa;
    src: url("/fonts/w95fa.woff") format("woff");
  }
  
  .gb-message, .gb-reply {
    padding: 1%;
    color: #1a1a1a;
    font-family: 'w95fa';
    line-height: 1.2em;
    font-size: 14px;
  }
  
  .gb-button, input[type=reset], input[type=submit], .btn {
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    color: transparent;
    min-height: 23px;
    min-width: 75px;
    padding: 0 12px;
    text-shadow: 0 0 #222;
    font-family: 'w95fa';
    font-size: 14px;
  }
  
  .gb-button, input[type=reset], input[type=submit], .btn {
    background: silver;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  }
  
  .gb-button:hover, .btn:hover {
    position: relative;
    left: 1.5px;
    top: 1.5px;
    box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
  }
  
  .gb-form {
    padding: 3%;
    color: #1a1a1a;
    font-family: 'w95fa';
    line-height: 1.2em;
    font-size: 14px;
  }
  
  .gb-form, input, textarea {
    width: 96%;
    margin-bottom: 0.5em;
    border-radius: 0;
  }