* {
    margin: 0;
    cursor: url("/graphics/cursor/letter_wings.png"), auto;
  }

@font-face {
  font-family: "alagard";
  src: url("/fonts/alagard.woff") format("woff");
}

@font-face {
  font-family: "DIEDIEDIE";
  src: url("/fonts/DIEDIEDIE.TTF") format("truetype");
}
/* light mode color scheme */
html, html[data-theme="light"] { 
  --light-text-color: rgb(72, 72, 74);
  --link-color: #87b3e1;
  --link-hover-fill: #4895e6;
  --link-hover-shadow: #4895e6;
  --main-background-color: rgb(255, 255, 255);
  --main-text-color: hsl(0, 0%, 36%);
  --background-image: url('/graphics/layout/hip-square.png'); /*https://www.toptal.com/designers/subtlepatterns/graph-paper/*/
  --wrapper-bg-color:
    linear-gradient(#fff, #fff) padding-box,
    repeating-linear-gradient(-45deg,
  #f69ec4 0, #f69ec4 12.5%,
  #ffffff 0, #ffffff 25%,
  #7eb4e2 0, #7eb4e2 37.5%,
  #ffffff 0, #ffffff 50%)
    0 / 5em 5em;
    --wrapper-bg:linear-gradient(#fff, #fff)
    padding-box,
    repeating-linear-gradient(-45deg,
    #f69ec4 0, #f69ec4 12.5%,
    #ffffff 0, #ffffff 25%,
    #7eb4e2 0, #7eb4e2 37.5%,
    #ffffff 0, #ffffff 50%)
    0 / 5em 5em;
  --wrapper-border: 1em solid transparent;
  --dropbtn: #87b3e1;
  --blog-link: #87b3e1;
  --navbar-hover: #ed9fc42b;
  --dropdown-content: #ed9fc42b;
  --dropdown-link-hover: #ffffff87;
  --scrollbar-box-shadow: rgb(238 159 197);
  --scrollbar-bg: rgb(239 235 228);
  --scrollbar-gradient-start: rgb(239 235 228);
  --scrollbar-gradient-end: rgb(238 159 197);
  --star-background-url: ;
  --toybox-outline: #f6d1e3;
}

/* dark mode color scheme */
html[data-theme="dark"] {
  --light-text-color: hsl(0, 0%, 10%);
  --link-color: #ff7add;
  --link-hover-fill: #f74acb;
  --link-hover-shadow: #f74acb;
  --main-background-color: rgb(28, 28, 30);
  --main-text-color: hsl(320, 100%, 89%);
  --background-image: url('/graphics/layout/v2_space/slow-star.gif');
  --wrapper-bg-color: #34072d6b;
  --wrapper-bg: ;
  --wrapper-border: 1px solid var(--light-color);
  --dropbtn: #c09dba;
  --blog-link: #c09dba;
  --navbar-hover: #41333ec7;
  --dropdown-content: #ed9fc42b;
  --dropdown-link-hover: #41333ec7;
  --scrollbar-box-shadow: rgba(100, 84, 94, 1);
  --scrollbar-bg: rgba(100, 84, 94, 1); 
  --scrollbar-gradient-start: hsla(308, 16%, 48%, 0.727);
  --scrollbar-gradient-end: hsla(281, 52%, 18%, 0.19);
  --star-background-url: url(/graphics/layout/v2_space/sparkle.gif);
  --toybox-outline: #fa77d8;
}
@media (prefers-color-scheme: dark) {
	html, html[data-theme="dark"] {
		--light-text-color: hsl(0, 0%, 10%);
  	--link-color: #ff7add;
    --link-hover-fill: #f74acb;
    --link-hover-shadow: #f74acb;
  	--main-background-color: rgb(28, 28, 30);
  	--main-text-color: hsl(320, 100%, 89%);
    --background-image: url('/graphics/layout/v2_space/slow-star.gif');
    --wrapper-bg-color: #34072d6b;
    --wrapper-bg: ;
    --wrapper-border: 1px solid var(--light-color);
    --dropbtn: #c09dba;
    --blog-link: #c09dba;
    --navbar-hover: #41333ec7;
    --dropdown-content: #ed9fc42b;
    --dropdown-link-hover: #41333ec7;
    --scrollbar-box-shadow: rgba(100, 84, 94, 1);
    --scrollbar-bg: rgba(100, 84, 94, 1); 
    --scrollbar-gradient-start: hsla(308, 16%, 48%, 0.727);
    --scrollbar-gradient-end: hsla(281, 52%, 18%, 0.19);
    --star-background-url: url(/graphics/layout/v2_space/sparkle.gif);
    --toybox-outline: #fa77d8;
	}
  html[data-theme="light"] { 
    --light-text-color: rgb(72, 72, 74);
    --link-color: #87b3e1;
    --link-hover-fill: #4895e6;
    --link-hover-shadow: #4895e6;
    --main-background-color: rgb(255, 255, 255);
    --main-text-color: hsl(0, 0%, 36%);
    --background-image: url('/graphics/layout/hip-square.png'); /*https://www.toptal.com/designers/subtlepatterns/graph-paper/*/
    --wrapper-bg-color:
      linear-gradient(#fff, #fff) padding-box,
      repeating-linear-gradient(-45deg,
    #f69ec4 0, #f69ec4 12.5%,
    #ffffff 0, #ffffff 25%,
    #7eb4e2 0, #7eb4e2 37.5%,
    #ffffff 0, #ffffff 50%)
      0 / 5em 5em;
      --wrapper-bg:linear-gradient(#fff, #fff)
      padding-box,
      repeating-linear-gradient(-45deg,
      #f69ec4 0, #f69ec4 12.5%,
      #ffffff 0, #ffffff 25%,
      #7eb4e2 0, #7eb4e2 37.5%,
      #ffffff 0, #ffffff 50%)
      0 / 5em 5em;
      --wrapper-border: 1em solid transparent;
    --dropbtn: #87b3e1;
    --blog-link: #87b3e1;
    --navbar-hover: #ed9fc42b;
    --dropdown-content: #ed9fc42b;
    --dropdown-link-hover: #ffffff87;
    --scrollbar-box-shadow: rgb(238 159 197);
    --scrollbar-bg: rgb(239 235 228);
    --scrollbar-gradient-start: rgb(239 235 228);
    --scrollbar-gradient-end: rgb(238 159 197);
    --star-background-url: ;
    --toybox-outline: #f6d1e3;
  }
}

body {
  background-color: var(--background-color);
  background-image: var(--background-image);
  font-family: 'Asul', sans-serif;
  line-height: 1.6em;
  color: var(--main-text-color);
  font-size: 1.2em;
  padding: 2em; 
}

/* tweaked from melonking.net */
#star-background {
  background-image: var(--star-background-url);
  opacity: .45;
  position: fixed;
  width: 500%;
  height: 500%;
  top: -250%;
  left: -250%;
  z-index: -5;
  animation-name: spin;
  animation-duration: 1400s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-box: fill-box;
  transform-origin: center;
  animation-fill-mode: forwards;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

/* desktop styles */
@media screen and (min-width: 1024px) {
    body {
        font-size: 1.3em;
    }

    h1{
      font-size: 2em;
    }

    h2 {
      font-size: 1.5em;
    }

    .box1 {
      margin: 2em 0 15px 0;
      padding: 2.5rem;
      width: 80%;
      margin-top: 2em;
    }
}

ol {
  list-style: decimal inside;
  margin: 0.2em 0 0px -0.5em;
}

ul {
  list-style: '♡  ';
}

p {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 5px;
}

#webmentions img {
  max-height: 1.2em; 
  margin-right: -1ex; 
}

a {
  color: var(--link-color);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  -webkit-text-fill-color: var(--link-hover-fill); /** needed given styling of bolded links **/
  text-decoration: none;
  text-shadow: 2px 2px 4px var(--link-hover-shadow);
  position: relative;
  left: 1.5px;
  top: 1.5px;
}

a[href^="http"]:where(:not([href*="lostletters.neocities.org/"]))::after {
    content: " \2924";
    font-size: 0.8em;
}

.blog-link{
  color: var(--blog-link);
  display: inline-block;
  white-space: nowrap;
  padding: 3px 6px;
  font-family: inherit;
  cursor: pointer;
}

.quilt a[href^="http"]:where(:not([href*="lostletters.neocities.org/"]))::after {
  content: "";
  font-size: 0.8em;
}

.imgwall a[href^="http"]:where(:not([href*="lostletters.neocities.org/"]))::after {
  content: "";
  font-size: 0.8em;
}

.noext a[href^="http"]:where(:not([href*="lostletters.neocities.org/"]))::after {
  content: "";
  font-size: 0.8em;
}

.webrings {
  font-size: 90%;
  line-height: 1.3em;
}

.webrings a[href^="http"]:where(:not([href*="lostletters.neocities.org/"]))::after {
  content: "";
}

img { 
  max-width: 100%;
  height: auto;
  filter: blur(0);
  -webkit-filter: blur(0);
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  transition: 0.5s all ease;
  height: 100%;
  background: var(--wrapper-bg);
  background-color: var(--wrapper-bg-color);
  box-shadow: 0px 0px 10px rgb(0 0 0 / 40%);
  border: var(--wrapper-border);
  border-radius: 35px;
  backdrop-filter: blur(2px);
}

.wrapper > * {
  padding: 25px 25px 0 25px;
  flex: 1 100%;
}
.header {
  text-align: center;
  font-family: 'alagard', Arial, sans-serif;
}
.site-name {
  font-weight: normal;
  font-size: 2em;
}

.main {
  text-align: left;
}

@media screen and (min-width: 1000px) {
  .wrapper{
      margin: 0 auto;
      max-width: 1000px;
  }
}
/* Medium screens */
@media all and (max-width: 800px) {
  .wrapper {
      margin: -38px;
  }
  .wrapper > * {
    padding: 20px 15px 0 15px;
  }
}

/* navigation W3School version*/
.navbar {
  font-family: 'alagard', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  overflow: hidden;
  cursor: pointer;
  font-size: .9em;
}

.dropbtn { 
  border: none;
  outline: none;
  color: var(--dropbtn);
  font-size: 1em;
  padding: 6px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

.navbar a:hover, .dropbtn:hover {
  background-color: (var(--navbar-hover));
  border-radius: 12px;
}

.dropdown-content {
  display: none;
  background-color: var(--dropdown-content);
  border-radius: 12px;
}

.dropdown-content a {
  font-weight: normal;
  padding: 3px 7px;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
}

.dropdown-content a:hover {
  background-color: var(--dropdown-link-hover);
  display: inline-block;
  border-radius: 12px;
}

.fa-caret-down:before {
  content: "▾";
}

.show {
  display: block;
  padding: 5px;
}

iframe {
  border: 0;
  display: block;
}

/** Jekyll post nav styling from https://guypursey.com/blog/202104171135-next-previous-nav-links-jekyll-blog **/
.post-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.post-nav div {
  flex: 1 1 0;
} 

.post-nav div:first-child {
      padding-right: 0.5em;
}
    
.post-nav div:last-child {
      padding-left: 0.5em;
      text-align: right;
}

.unsighted {
border: 0;
clip: rect(1px, 1px, 1px, 1px);
clip-path: inset(50%);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
word-wrap: normal !important;
}
/** End of Jekyll post nav styling **/

.profiles {
  font-family: 'alagard', Arial, sans-serif; 
  font-size: 90%; 
  line-height: 1em;
}

/** index links styling based off of jekyll post nav styling **/
.index-links {
  display: flex;
  flex-flow: row wrap;
}

.index-links > * {
  flex: 1 auto;
}
    
.index-links div:last-child {
  text-align: right;
}

@media all and (min-width: 800px) {
  .index-links > * {
    flex: 1 100%
  }
}

/** status.cafe styling **/

#statuscafe-username, #statuscafe-content {
  display:inline;
}

/** End of status.cafe styling **/

hr {
  background: url("/graphics/toy/sakura-divider.gif");
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  height: 21px;
}

.footer {
  font-family: 'alagard', Arial, sans-serif;
  font-weight: lighter;
  overflow: hidden;
  cursor: pointer;
  font-size: .8em;
  text-align: center;
}

.imgwall {
  align-items: center;
  justify-content: center;
}

.imgwall img {
  display: inline-block;
}

.quilt {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.quilt img {
  display: block;
  image-rendering: pixelated;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
  white-space: pre-wrap;
}

pre, code {
  font-size: 15px;
  text-align: left;
}

/* a11y */

a.skip-main {
  left:-999px;
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
  color: #fff;
  background-color:#000;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow:auto;
  margin: 10px 35%;
  padding:5px;
  border-radius: 15px;
  border:4px solid yellow;
  text-align:center;
  font-size:1.2em;
  z-index:999;
}

/* themed scrollbar: https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar */

::-webkit-scrollbar {
  height: 50px;
  width: 10px;
  overflow-y: scroll;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 2ex;
  -webkit-box-shadow: inset 0 0 0px var(--scrollbar-box-shadow); 
  background: linear-gradient(180deg, var(--scrollbar-gradient-start) 0%, var(scrollbar-gradient-end) 100%);
} 

/* To avoid a horizontal scrollbar from appearing due to the cursor sparkles */

html, body {
  overflow-x: hidden;
  overflow-y: overlay;
}


/* Net Neighbors Button Styling */
.missing-button {
  transform: scale(calc(1.0 + 1.0 * var(--big)));
  transform-origin: top left;
  vertical-align: middle;
}

.missing-button, image {
  box-sizing: border-box;
  border-style: outset;
  border-width: 2px;
}


@font-face {
  font-family: mario;
  src: url("/fonts/Super-Mario-World.ttf") format("truetype");
}

.buttontext {
  font-family: 'mario';
  font-size: 8px;
  stroke: white;
  paint-order: stroke;
  stroke-width: 3px;
  fill: #000000;
  text-anchor: middle;
}

.missing-button:hover{
  text-shadow: none;
}

.envelope { /* https://sharkcoder.com/visual/borders */
  padding: 1em;
}

/* Flexbox / Flex */
.container {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction 
      and if we allow the items to wrap 
  * Remember this is the same as:
  * flex-direction: row;
  * flex-wrap: wrap;
  */
  flex-flow: row wrap;
  /* Then we define how is distributed the remaining space */
  align-content: flex-start;
  justify-content: center;
  gap: 20px;
}

.flex-item {
  width: 42%;  /* Or whatever */
  flex-grow: 1;
}

.toy-flex-item {
  border: 1px solid var(--toybox-outline);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px 2px var(--toybox-outline);
  font-family: verdana, Arial;
  font-size: 14px;
  line-height: 1.6em;
  width: 42%;  /* Or whatever */
  flex-grow: 1;
}
/* container */
.responsive-two-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.badgewall {
  flex: 0 0 48%;
  line-height: 0em;
  margin-right:-4px;
}

.badgewall a[href^="http"]:where(:not([href*="lostletters.neocities.org/"]))::after {
  content: "";
  font-size: 0.8em; 
}

.webrings {
  flex: 0 0 48%;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .badgewall, .webrings {
    flex: 100%;
  }
}