* {
    margin: 0;
    cursor: url("/graphics/cursor/letter_wings.png"), auto;
  }

@font-face {
  font-family: "alagard";
  src: url("/fonts/alagard.woff") format("woff");
}
  
@font-face {
  font-family: 'pixel';
  src: url('/fonts/04B_03__.TTF')  format('truetype');
}

@font-face {
  font-family: "dogicapixel";
  src: url("/fonts/dogicapixel.ttf") format("truetype");
}
  
body {
  background-color: #1a1a1a;
  background-image: url('/graphics/layout/v2_space/slow-star.gif');
  font-family: 'Asul', sans-serif;
  line-height: 1.6em;
  color: #ffc6ec;
}

/* ------- Text Customization ------- */
h1 {
  font-family: 'alagard', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  padding: 9px 0 13px 0;
}

.welcome {
  font-weight: normal;
}

h2{
  font-weight: normal;
  padding-bottom: 0.4em;
}

/* mobile styles */
body {
  font-size: 16px;
}

h1{
  font-size: 1.8em;
}

h2 {
  font-size: 1.3em;
}

.box1{
  margin: 1em 0 1em 0;
  padding: 0.7rem;
  width: 90%;
}

/* tablet styles */
@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }

    h1{
      font-size: 1.8em;
    }

    h2 {
      font-size: 1.3em;
    }

    .box1{
      margin: 0;
      padding: 2.5rem;
      width: 90%;
      margin-top: 2em;
    }
}

/* desktop styles */
@media screen and (min-width: 1024px) {
    body {
        font-size: 20px;
    }

    h1{
      font-size: 2em;
    }

    h2 {
      font-size: 1.5em;
    }

    .box1 {
      margin: 2em 0 15px 0;
      padding: 2.5rem;
      width: 80%;
      margin-top: 2em;
    }
}

ol {
  list-style: decimal inside;
  margin: 0.2em 0 0px -0.5em;
}

ul {
  list-style: '♡  ';
}

ol {
  margin: 0 0 0 -1em;
}

p {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 5px;
}

#webmentions img {
  max-height: 1.2em; 
  margin-right: -1ex; 
}

strong, b {
  background: -webkit-linear-gradient(#fff6e7, #ff9f00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  color: #ff7add;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  -webkit-text-fill-color: #f74acb; /** needed given styling of bolded links **/
  text-decoration: none;
  text-shadow: 2px 2px 4px #f74acb;
  position: relative;
  left: 1.5px;
  top: 1.5px;
}

a[href^="http"]:where(:not([href*="lostletters.neocities.org/"]))::after {
    content: " \2924";
    font-size: 0.8em;
}

.quilt a[href^="http"]:where(:not([href*="lostletters.neocities.org/"]))::after {
  content: "";
  font-size: 0.8em;
}

.imgwall a[href^="http"]:where(:not([href*="lostletters.neocities.org/"]))::after {
  content: "";
  font-size: 0.8em;
}

.noext a[href^="http"]:where(:not([href*="lostletters.neocities.org/"]))::after {
  content: "";
  font-size: 0.8em;
}

.webring {
  font-size: 90%;
  line-height: 1.3em;
}

.webring a[href^="http"]:where(:not([href*="lostletters.neocities.org/"]))::after {
  content: "";
}

img { 
  max-width: 100%;
  height: auto;
  filter: blur(0);
  -webkit-filter: blur(0);
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.box1 {
  position: relative;
  /* These styling elements are from Pale's Glassy layout 
  https://palemomos.neocities.org/cool-layouts/ 
  thought I have tweaked the values */
  background-color: #34072d6b;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 40%);
  border: 1px solid var(--light-color);
  border-radius: 35px;
  transition: 0.5s all ease;
  backdrop-filter: blur(2px);
  max-width: 656px;
  height: 100%;
  }


/* navigation W3School version*/
.navbar {
  font-family: 'alagard', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  overflow: hidden;
  cursor: pointer;
  font-size: .9em;
}

.dropbtn { 
  border: none;
  outline: none;
  color: #c09dba;
  font-size: 1em;
  padding: 6px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

.navbar a:hover, .dropbtn:hover {
  background-color: #41333ec7;
  border-radius: 12px;
}

.dropdown-content {
  display: none;
  background-color: #41333e78;
  border-radius: 12px;
}

.dropdown-content a {
  font-weight: normal;
  padding: 3px 7px;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
}

.dropdown-content a:hover {
  background-color: #41333ec7;
  display: inline-block;
}

.fa-caret-down:before {
  content: "▾";
}

.show {
  display: block;
  padding: 5px;
}

iframe {
  border: 0;
  display: block;
}

/** Jekyll post nav styling from https://guypursey.com/blog/202104171135-next-previous-nav-links-jekyll-blog **/
.post-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.post-nav div {
  flex: 1 1 0;
} 

.post-nav div:first-child {
      padding-right: 0.5em;
}
    
.post-nav div:last-child {
      padding-left: 0.5em;
      text-align: right;
}

.unsighted {
border: 0;
clip: rect(1px, 1px, 1px, 1px);
clip-path: inset(50%);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
word-wrap: normal !important;
}
/** End of Jekyll post nav styling **/

.profiles {
  font-family: 'alagard', Arial, sans-serif; 
  font-size: 90%; 
  line-height: 1em;
}

/** index links styling based off of jekyll post nav styling **/
.index-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.index-links div {
  flex: 1 1 0;
}
    
.index-links div:last-child {
  text-align: right;
}

/** status.cafe styling **/

#statuscafe-username {
  display:inline;
}

#statuscafe-content {
  display:inline;
}
/** End of status.cafe styling **/

hr {
  background: url("/graphics/toy/sakura-divider.gif");
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  height: 21px;
}

.footer {
  font-family: 'alagard', Arial, sans-serif;
  font-weight: lighter;
  overflow: hidden;
  cursor: pointer;
  font-size: .8em;
}

.imgwall {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.imgwall img {
  display: block;
}

.quilt {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.quilt img {
  display: block;
  image-rendering: pixelated;
}

/** q*bee img entry point on top left
removed because of weird behavior on hover

.quilt-link {
  position: absolute;
  top: 2px;
  left: 10px; 
  animation: bobbing 2s ease-in-out infinite;
  animation-direction: alternate;
  filter: drop-shadow(0px 0px 5px #ffc973);
  image-rendering: pixelated;
  display: inline;
}

@keyframes bobbing {
  0% {
      transform: translateY(6px);
  }
  100% {
      transform: translateY(-6px);
  }
}
**/

pre {
  padding: 8px 12px;
  overflow-x: auto;
  white-space: pre-wrap;
}

pre, code {
  font-size: 15px;
  text-align: left;
}

/* a11y */

a.skip-main {
  left:-999px;
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
  color: #fff;
  background-color:#000;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow:auto;
  margin: 10px 35%;
  padding:5px;
  border-radius: 15px;
  border:4px solid yellow;
  text-align:center;
  font-size:1.2em;
  z-index:999;
}

/* themed scrollbar: https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar */

::-webkit-scrollbar {
  height: 50px;
  width: 10px;
  overflow-y: scroll;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 2ex;
  -webkit-box-shadow: inset 0 0 0px rgba(100, 84, 94, 1); 
  background:rgba(100, 84, 94, 1); 
  background: linear-gradient(180deg, rgba(141, 103, 136, 0.727) 0%, rgb(55 22 70 / 19%) 100%);
} 

/* To avoid a horizontal scrollbar from appearing due to the cursor sparkles */

html, body {
  overflow-x: hidden;
  overflow-y: overlay;
}

/* Guestbook styling */
.guestbook {
  overflow: hidden;
}

.gb-entry {
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered guestbook entries*/
.show {
  display: block;
}

.sign-gb {
  width: auto;
  filter: drop-shadow(0px 0px 4px #018281);
}

.gb-container, .gb-reply-container, .gb-form-container {
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
  padding: 3px;
  background: silver;
  margin: 0 20px 10px 0;
  filter: drop-shadow(0px 0px 8px #018281);
}

.gb-reply-container {
  margin: 0 0 20px 20px;
}

.gb-form-container{
  width: 80%;
  margin: 0;
}

@font-face {
  font-family: 'Pixel Sans Serif';
  src: url('/fonts/Pixel\ Sans\ Serif.ttf');
}

.gb-meta, .gb-reply-meta {
  background: linear-gradient(90deg,#018281,#962e8d);
  padding: 0 0 0 4px;
  color: #ffffff;
  border: 2px outset silver;
  font-family: 'Pixel Sans Serif', Arial;
  font-size: 40%;
  -webkit-font-smoothing: none;
  line-height: 3em;
}

.gb-meta a, .gb-reply-meta a {
  color: #ffffff;
}
.gb-reply-container a, .gb-message a {
  color: #962e8d;
}
.gb-reply-container a:hover {
  -webkit-text-fill-color: #962e8d; /** needed given styling of bolded links **/
  text-shadow: none;
}

.gb-reply-meta {
  background: linear-gradient(90deg,#490b64,#018281);
}

@font-face {
  font-family: w95fa;
  src: url("/fonts/w95fa.woff") format("woff");
}

.gb-message, .gb-reply {
  padding: 1%;
  color: #1a1a1a;
  font-family: 'w95fa';
  line-height: 1.2em;
  font-size: 14px;
}

.gb-button, input[type=reset], input[type=submit], .btn {
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: transparent;
  min-height: 23px;
  min-width: 75px;
  padding: 0 12px;
  text-shadow: 0 0 #222;
  font-family: 'w95fa';
  font-size: 14px;
}

.gb-button, input[type=reset], input[type=submit], .btn {
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
}

.gb-button:hover, .btn:hover {
  position: relative;
  left: 1.5px;
  top: 1.5px;
  box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
}

.gb-form {
  padding: 3%;
  color: #1a1a1a;
  font-family: 'w95fa';
  line-height: 1.2em;
  font-size: 14px;
}

.gb-form, input, textarea {
  width: 96%;
  margin-bottom: 0.5em;
  border-radius: 0;
}

/* Net Neighbors Button Styling */
.missing-button {
  transform: scale(calc(1.0 + 1.0 * var(--big)));
  transform-origin: top left;
  vertical-align: middle;
}

.missing-button, image {
  box-sizing: border-box;
  border-style: outset;
  border-width: 2px;
}


@font-face {
  font-family: mario;
  src: url("/fonts/Super-Mario-World.ttf") format("truetype");
}

.buttontext {
  font-family: 'mario';
  font-size: 8px;
  stroke: white;
  paint-order: stroke;
  stroke-width: 3px;
  fill: #000000;
  text-anchor: middle;
}

.missing-button:hover{
  text-shadow: none;
}

/* tweaked from melonking.net */
#star-background {
  background-image: url(/graphics/layout/v2_space/sparkle.gif);
  opacity: .45;
  position: fixed;
  width: 500%;
  height: 500%;
  top: -250%;
  left: -250%;
  z-index: -5;
  animation-name: spin;
  animation-duration: 1400s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-box: fill-box;
  transform-origin: center;
  animation-fill-mode: forwards;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.envelope { /* https://sharkcoder.com/visual/borders */
  padding: 1em;
  border: 1em solid transparent;
  background: linear-gradient(#160415, #160415)
              padding-box,
              repeating-linear-gradient(-45deg,
              #f69ec4 0, #f69ec4 12.5%,
              #ffffff 0, #ffffff 25%,
              #7eb4e2 0, #7eb4e2 37.5%,
              #ffffff 0, #ffffff 50%)
              0 / 5em 5em;
}