* {
    margin: 0;
    cursor: url("/graphics/cursor/letter_wings.png"), auto;
  }

  body {
    background-color: #1a1a1a;
    background-image: url('/graphics/layout/v2_space/slow-star.gif'); 
    font-family: 'Asul', sans-serif;
    line-height: 1.6em;
    image-rendering: -webkit-optimize-contrast;
    color: #ffc6ec;
  }

  /* mobile styles */
body {
  font-size: 18px;
}

/* tablet styles */
@media screen and (min-width: 768px) {
    body {
        font-size: 20px;
    }
}

/* desktop styles */
@media screen and (min-width: 1024px) {
    body {
        font-size: 24px;
    }
}
  alagard {
    font-family: "CustomFont";
    src: url("https://lostletters.neocities.org/fonts/alagard.woff") format("wofff");
  }
  
  ol {
    list-style: decimal inside;
    margin: 0.2em 0 0px -0.5em;
  }
  
  ul {
    list-style: '♡  ';
    margin: 0 0 0 -1em;
  }

  ol {
    margin: 0 0 0 -1em;
  }
  
  p {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 5px;
  }

  #webmentions img {
    max-height: 1.2em; 
    margin-right: -1ex; 
  }
  
  /* ------- Text Customization ------- */
  h1 {
    font-family: 'alagard', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    padding: 9px 0 13px 0;
  }

  .welcome {
    font-weight: normal;
  }
  
  h2{
    font-weight: normal;
    padding-bottom: 0.4em;
  }
  
  strong, b {
    background: -webkit-linear-gradient(#fff6e7, #ff9f00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  a {
    color: #ff7add;
    text-decoration: none;
    cursor: pointer;
  }
  
  a:hover {
    color: #f74acb;
    text-decoration: none;
    text-shadow: 2px 2px 4px #f74acb;
  }

  a[href^="http"]:where(:not([href*="lostletters.neocities.org/"]))::after {
      content: " ↗";
      font-size: 0.8em;
  }

  .quilt a[href^="http"]:where(:not([href*="lostletters.neocities.org/"]))::after {
    content: "";
    font-size: 0.8em;
  }

  .noext a[href^="http"]:where(:not([href*="lostletters.neocities.org/"]))::after {
    content: "";
    font-size: 0.8em;
  }

::selection {
  background: #ffb8ed3f;
  color: #ffffff;
  }

    
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    
    50% {
      background-position: 100% 50%;
    }
    
    100% {
      background-position: 0% 50%;
    }
  }

 img { 
    max-width: 100%;
    height: auto;
    filter: blur(0);
    -webkit-filter: blur(0);
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
  }

  .box1 {
    margin: 2em 0 15px 0;
    position: relative;
    /* These styling elements are from Pale's Glassy layout 
    https://palemomos.neocities.org/cool-layouts/ 
    thought I have tweaked the values */
    background-color: #34072d6b;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 40%);
    border: 1px solid var(--light-color);
    border-radius: 35px;
    padding: 1.7rem;
    transition: 0.5s all ease;
    backdrop-filter: blur(2px);
    width: 75%;
    height: 100%;
    display: flex;
    }

/* navigation W3School version*/
.navbar {
  font-family: 'alagard', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  overflow: hidden;
  cursor: pointer;
  font-size: .9em;
}

.dropbtn { 
  border: none;
  outline: none;
  color: #c09dba;
  font-size: 1em;
  padding: 6px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

.navbar a:hover, .dropbtn:hover {
  background-color: #41333ec7;
  border-radius: 12px;
}

.dropdown-content {
  display: none;
  background-color: #41333e78;
  border-radius: 12px;
}

.dropdown-content a {
  font-weight: normal;
  padding: 3px 7px;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
}

.dropdown-content a:hover {
  background-color: #41333ec7;
  display: inline-block;
}

.fa-caret-down:before {
  content: "▾";
}

.show {
  display: block;
  padding: 5px;
}

iframe {
  border: 0;
  display: block;
}


.footer {
  font-family: 'alagard', Arial, sans-serif;
  font-weight: lighter;
  overflow: hidden;
  cursor: pointer;
  font-size: .8em;
}

.quilt {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.quilt img {
  display: block;
  image-rendering: pixelated;
}

.quilt-link {
  position: absolute;
  top: 2px;
  left: 10px;
  animation: bobbing 2s ease-in-out infinite;
  animation-direction: alternate;
  filter: drop-shadow(0px 0px 5px #ffc973);
  image-rendering: pixelated;
}

@keyframes bobbing {
  0% {
      transform: translateY(6px);
  }
  100% {
      transform: translateY(-6px);
  }
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
  white-space: pre-wrap;
}

pre, code {
  font-size: 15px;
  text-align: left;
}

/* a11y */

a.skip-main {
  left:-999px;
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
  color: #fff;
  background-color:#000;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow:auto;
  margin: 10px 35%;
  padding:5px;
  border-radius: 15px;
  border:4px solid yellow;
  text-align:center;
  font-size:1.2em;
  z-index:999;
}

/* themed scrollbar: https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar */

::-webkit-scrollbar {
  height: 50px;
  width: 10px;
  overflow-y: scroll;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 2ex;
  -webkit-box-shadow: inset 0 0 0px rgba(100, 84, 94, 1); 
  background:rgba(100, 84, 94, 1); 
  background: linear-gradient(180deg, rgba(141, 103, 136, 0.727) 0%, rgb(55 22 70 / 19%) 100%);
} 

/* To avoid a horizontal scrollbar from appearing due to the cursor sparkles */

html, body {
  overflow-x: hidden;
  overflow-y: overlay;
}