@font-face {
    font-family: "alagard"; /* credit: https://www.dafont.com/alagard.font */
    src: url("/fonts/alagard.woff") format("woff");
}
@font-face {
    font-family: "pixel"; /* credit: https://www.dafont.com/pixel-operator.font */
    src: url("/fonts/PixelOperator.ttf") format('truetype');
}
@font-face {
  font-family: "DIEDIEDIE";
  src: url("/fonts/DIEDIEDIE.TTF") format("truetype");
}
body {
  font-size: calc(18px + 0.390625vw);
  background-color: #000;
  margin: 0px;
}

a {
  text-decoration: none;
  transition: all 1s ease;
}

hr {
  margin: 1.5em;
}
.holy-grail-grid {
  display:grid;
  grid-template-areas:
    'header'
    'main-content'
    'left-sidebar'
    'right-sidebar'
    'footer';
  margin: 0 auto;
  transition: 0.5s all ease;
  line-height: 1.2em;  
}
/* general column padding */
.holy-grail-grid > * {
  margin: 0.7em;
}
/* assign columns to grid areas */
.holy-grail-grid > .header {
  grid-area: header;
  padding: 0.5em;
  text-align: center;
}
.title {
  font-family: 'alagard', Arial, sans-serif;
  font-weight: normal;
  font-size: 2em;
  line-height: 1em;
}
.title a:hover {
    background-image: none;
}
.holy-grail-grid > .main-content {
    grid-area:main-content;
    margin: 0.7em;
}
.floating {
    border-radius: 0.3em;
    padding: 0.83em;
    margin-bottom: .83em;
}
.desktop-sidebar-content {
    padding: 0 0.5em 0.5em 0.5em;
}
.holy-grail-grid > .left-sidebar {
    grid-area:left-sidebar;
}
.holy-grail-grid > .right-sidebar {
    grid-area:right-sidebar;
}
.holy-grail-grid > .footer {
    grid-area:footer;
    text-align: center;
}
/* tablet breakpoint */
@media (min-width:768px) {
  .holy-grail-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      'header header'
      'main-content main-content'
      'left-sidebar right-sidebar'
      'footer footer';
    grid-auto-columns: 100%;
  }
}
/* tablets or smaller */
@media (max-width:768px) {
  .holy-grail-grid {
    grid-auto-columns: 100%;
  }
}
/* desktop breakpoint */
@media (min-width:1024px) {
  .holy-grail-grid {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
          'header header header header'
          'left-sidebar main-content main-content right-sidebar'
          'footer footer footer footer';
      max-width: 95%;
  }
  .footer-theme-selector {display:none;}
  .elsewhere-index, .buttons-index {display: none;}
}
@media (max-width: 1026px) {
  .left-sidebar {display: none;}
  .right-sidebar {display: none;}
  .theme-picker {display:none;}
}
.nav-title {
  font-size: .8em;
  margin: 0 0 0.4em 0;
  padding: 0 0 0 0.2em;
  text-transform: uppercase;
  text-align: center;
}
/** status.cafe styling **/

#statuscafe-username, #statuscafe-content {
display:inline;
}
.badgewall {
    line-height: 0em;
}
/* navigation W3School version*/
.navbar {
font-weight:normal;
font-style:normal;
overflow: hidden;
cursor: pointer;
}
.navbar:active{outline: #000;}
.dropbtn { 
border: none;
font-size: 1em;
padding: 6px;
background-color: inherit;
font-family: inherit;
margin: 0;
cursor: pointer;
}
.navbar a:hover, .dropbtn:hover {
border-radius: 12px;
}
.dropdown-content {
display: none;
border-radius: 12px;
}
.dropdown-content a {
font-weight: normal;
padding: 3px 7px;
text-decoration: none;
display: inline-block;
}
.dropdown-content a:hover {
display: inline-block;
border-radius: 12px;
background-image: none;
letter-spacing: normal;
}
.fa-caret-down:before {
content: "▾";
}
.show {
display: block;
padding: 5px;
}
.blog-link:hover {
    background-image: none;
    letter-spacing: normal;
}
iframe {
border: 0;
display: block;
}
@media (min-width: 1026px) { 
.mobile_nav { 
  display: none; 
} 
}
.theme-switches{
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.switch {
  border: 2px dotted white;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  margin: 0.2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.switch:hover {
    transform: scale(1.2);
}
#switch-1 { /* lace theme */
    background-color: #fdebee;
}
#switch-2 { /* stars theme */
    background-color: #533566;
}
#switch-3 { /* purple theme */
    background-color: #e8c9ff;
}
#switch-4 { /* mail theme */
    background-color: #fee7f0;
}
#switch-5 { /* spooky theme */
    background-color: #000;
}
#switch-6 { /* sakura theme */
    background-color: #ffa4d3;
}
#switch-7 { /* sakura theme */
    background-color: #1c3b18;
}

/** Jekyll post nav styling from https://guypursey.com/blog/202104171135-next-previous-nav-links-jekyll-blog **/
.post-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.post-nav div {
  flex: 1 1 0;
} 

.post-nav div:first-child {
  padding-right: 0.5em;
}
    
.post-nav div:last-child {
  padding-left: 0.5em;
  text-align: right;
}

.unsighted {
border: 0;
clip: rect(1px, 1px, 1px, 1px);
clip-path: inset(50%);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
word-wrap: normal !important;
}
/** End of Jekyll post nav styling **/
  
p {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 5px;
}

#webmentions img {
  max-height: 1.2em; 
  margin-right: -1ex; 
}

a {
  color: var(--link-color);
  cursor: pointer;
}

a:hover {
  -webkit-text-fill-color: var(--link-hover-fill); /** needed given styling of bolded links **/
  text-shadow: 2px 2px 4px var(--link-hover-shadow);
  position: relative;
  left: 1.5px;
  top: 1.5px;
}

a[href^="http"]:where(:not([href*="lostletters.neocities.org/"]))::after {
    content: " \2924";
    font-size: 0.6em;
}

.blog-link{
  display: inline-block;
  white-space: nowrap;
  padding: 3px 6px;
  font-family: inherit;
  cursor: pointer;
}

.quilt a[href^="http"]:where(:not([href*="lostletters.neocities.org/"]))::after {
  content: "";
  font-size: 0.8em;
}

.imgwall a[href^="http"]:where(:not([href*="lostletters.neocities.org/"]))::after {
  content: "";
  font-size: 0.8em;
}

.noext a[href^="http"]:where(:not([href*="lostletters.neocities.org/"]))::after {
  content: "";
  font-size: 0.8em;
}

img { 
  max-width: 100%;
  height: auto;
  filter: blur(0);
  -webkit-filter: blur(0);
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.imgwall {
  font-size: 0;
  line-height: 0em;
  image-rendering: pixelated;
}

.imgwall img {
  display: inline-block;
}

.quilt {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.quilt img {
  display: block;
  image-rendering: pixelated;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
  white-space: pre-wrap;
}

pre, code {
  font-size: 15px;
  text-align: left;
}

/* a11y */

a.skip-main {
  left:-999px;
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:-999;
}

a.skip-main:focus, a.skip-main:active {
  color: #fff;
  background-color:#000;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow:auto;
  margin: 10px 35%;
  padding:5px;
  border-radius: 15px;
  border:4px solid yellow;
  text-align:center;
  font-size:1.2em;
  z-index:999;
}
/* To avoid a horizontal scrollbar from appearing due to the cursor sparkles */

html, body {
  overflow-x: hidden;
  overflow-y: overlay;
}

  
/* Text-based 88x31 Button Styling */
.missing-button {
  transform: scale(calc(1.0 + 1.0 * var(--big)));
  transform-origin: top left;
  vertical-align: middle;
}

.missing-button, image {
  box-sizing: border-box;
  border-style: outset;
  border-width: 2px;
}


@font-face {
  font-family: mario;
  src: url("/fonts/Super-Mario-World.ttf") format("truetype");
}

.buttontext {
  font-family: 'mario';
  font-size: 8px;
  stroke: white;
  paint-order: stroke;
  stroke-width: 3px;
  fill: #000000;
  text-anchor: middle;
}

.missing-button:hover{
  text-shadow: none;
}

.envelope { /* https://sharkcoder.com/visual/borders */
  padding: 1em;
}

/* Flexbox / Flex */
.container {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction 
      and if we allow the items to wrap 
  * Remember this is the same as:
  * flex-direction: row;
  * flex-wrap: wrap;
  */
  flex-flow: row wrap;
  /* Then we define how is distributed the remaining space */
  align-content: flex-start;
  justify-content: center;
  gap: 20px;
}

.flex-item {
  width: 42%;  /* Or whatever */
  flex-grow: 1;
}

.toy-flex-item {
  border: 1px solid var(--toybox-outline);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px 2px var(--toybox-outline);
  width: 42%;  /* Or whatever */
  flex-grow: 1;
}
/* container */
.responsive-two-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}