@font-face {
    font-family: "alagard"; /* credit: https://www.dafont.com/alagard.font */
    src: url("/fonts/alagard.woff") format("woff");
}
@font-face {
  font-family: "DIEDIEDIE";
  src: url("/fonts/DIEDIEDIE.TTF") format("truetype");
}

body {
  background-color: #000;
  margin: 0px;
  color: var(--color-primary-a80);
  font-family: var(--font), sans-serif;
  background-image: var(--background-image);
}

.inline-svg {
  filter: var(--color-primary-a60-filter);
  height: 1.5em;
  vertical-align: -0.35em;
}

hr {
  margin: 1.5em;
}

.main {
  margin: 0 auto;
  transition: 0.5s all ease;
  line-height: 1.2em;
  max-width: 1024px;
  padding: 1em 1.5em;
  overflow: hidden;
  overflow-wrap: break-word;
}

.header {
  padding: 0.5em;
  text-align: center;
}

.title {
  font-family: 'alagard', Arial, sans-serif;
  font-weight: normal;
  font-size: 2em;
  line-height: 1em;
  color: var(--color-primary-a60);
}

.title a:hover {
  background-image: none;
}
/* status.cafe styling */

#statuscafe-username, #statuscafe-content {
  display:inline;
  overflow-wrap: anywhere;
}

#statuscafe-username {
  background: var(--color-primary-a10);
}

.badgewall {
    line-height: 0em;
}
.col-wrapper {
  display: flex;
  width: 100%;
  flex: 1 1 auto;
  flex-direction: column;
  margin-bottom: 1em;
}
.two-col {
  column-width: 400px;
  gap: 1rem;
}
.three-col {
  column-width: 330px;
  gap: 1rem;
}
.two-col > div, .three-col > div {
  width: 100%;
  margin-bottom: 1rem;
  break-inside: avoid;
}
/* navigation */
.dropbtn, .blog-link { 
  color: var(--color-primary-a60);
}

.navbar {
  font-weight:normal;
  font-style:normal;
  overflow: hidden;
  cursor: pointer;
}
.navbar:active{
  outline: #000;
}
.dropbtn { 
  border: none;
  font-size: 1em;
  padding: 6px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}
.navbar a:hover, .dropbtn:hover {
  border-radius: 12px;
  background-color: var(--color-primary-a10);
}
.dropdown-content {
  display: none;
  border-radius: 12px;
  background-color: var(--color-primary-a10);
  overflow-wrap: break-word;
}
.dropdown-content a {
  font-weight: normal;
  padding: 3px 7px;
  text-decoration: none;
  display: inline-block;
}
.dropdown-content a:hover {
  display: inline-block;
  border-radius: 12px;
  background-image: none;
  letter-spacing: normal;
  background-color: var(--color-primary-a0);
}
.fa-caret-down:before {
  content: "▾";
}
.show {
  display: block;
  padding: 5px;
}

.blog-link:hover {
  background-image: none;
  letter-spacing: normal;
}

iframe {
  border: 0;
  display: block;
}
.theme-switches{
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.switch {
  border: 2px dotted white;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  margin: 0.2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.switch:hover {
  transform: scale(1.2);
}
#switch-1 { /* lace theme */
  background-color: #fdebee;
}
#switch-2 { /* stars theme */
  background-color: #533566;
}
#switch-3 { /* purple theme */
  background-color: #e8c9ff;
}
#switch-4 { /* mail theme */
  background-color: #5BCEFA;
}
#switch-5 { /* spooky theme */
  background-color: #000;
}
#switch-6 { /* sakura theme */
  background-color: #ffa4d3;
}
#switch-7 { /* green theme */
  background-color: #1c3b18;
}
#switch-8 { /* minimal theme */
  background-color: #040024;
}

.theme-image{
  content: var(--theme-image);
  image-rendering: pixelated;
  float: left;
  position: relative;
  display: inline-block;
  max-width: 220px;
  shape-outside: var(--theme-image);
  shape-image-threshold: 0.0;
  transition: all 1.5s;
  shape-margin: 1em;
  margin: 0 1em 0 0;
}

.theme-stamp{
  content: var(--theme-stamp);
  image-rendering: pixelated;
  filter: drop-shadow(0 0 2px var(--color-primary-a70));
}

/** Jekyll post nav styling from https://guypursey.com/blog/202104171135-next-previous-nav-links-jekyll-blog **/
.post-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.post-nav div {
  flex: 1 1 0;
} 

.post-nav div:first-child {
  padding-right: 0.5em;
}
    
.post-nav div:last-child {
  padding-left: 0.5em;
  text-align: right;
}

.unsighted {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
  }
/** End of Jekyll post nav styling **/
  
p {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 5px;
}

#webmentions img {
  max-height: 1.2em; 
  margin-right: -1ex; 
}

.mobile_nav {
  display: block;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  transition: all 1s ease;
}

a, .mobile-nav {
  color: var(--color-primary-a60);
  cursor: pointer;
}

a:hover {
  -webkit-text-fill-color: var(--link-hover-fill); /** needed given styling of bolded links **/
  text-shadow: 2px 2px 4px var(--link-hover-shadow);
  position: relative;
  left: 1.5px;
  top: 1.5px;
}

a[href^="http"]:where(:not([href*="lostletters.neocities.org/"]))::after {
  content: " \2924";
  font-size: 0.6em;
}

::selection {
  background: var(--color-primary-a10);
  color: var(--color-primary-a90);
}

h1 {
  line-height: 1em;
}

.blog-link {
  display: inline-block;
  white-space: nowrap;
  padding: 3px 6px;
  font-family: inherit;
  cursor: pointer;
}

.quilt a[href^="http"]:where(:not([href*="lostletters.neocities.org/"]))::after {
  content: "";
  font-size: 0.8em;
}

.imgwall a[href^="http"]:where(:not([href*="lostletters.neocities.org/"]))::after {
  content: "";
  font-size: 0.8em;
}

.noext a[href^="http"]:where(:not([href*="lostletters.neocities.org/"]))::after {
  content: "";
  font-size: 0.8em;
}

.noext-cups a[href^="http"]:where(:not([href*="lostletters.neocities.org/"]))::after {
  content: "";
  font-size: 0.8em;
  display: inline-block;  
}

.noext-cups img {
  transition: 1s ease-in-out;
  opacity: 1;
  margin-left: .6em;
  margin-right:.6em;
  margin-top: .5em;
}

.noext-cups img:hover {
  transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

img { 
  max-width: 100%;
  height: auto;
  filter: blur(0);
  -webkit-filter: blur(0);
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.imgwall {
  font-size: 0;
  line-height: 0em;
  image-rendering: pixelated;
}

.imgwall img {
  display: inline-block;
}

.quilt {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.quilt img {
  display: block;
  image-rendering: pixelated;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
  white-space: pre-wrap;
}

pre, code {
  font-size: 15px;
  text-align: left;
}

/* a11y */

a.skip-main {
  left:-999px;
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:-999;
}

a.skip-main:focus, a.skip-main:active {
  color: #fff;
  background-color:#000;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow:auto;
  margin: 10px 35%;
  padding:5px;
  border-radius: 15px;
  border:4px solid yellow;
  text-align:center;
  font-size:1.2em;
  z-index:999;
}

/* To avoid a horizontal scrollbar from appearing due to the cursor sparkles */
html, body {
  overflow-x: hidden;
  overflow-y: overlay;
}

/* themed scrollbar: https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar */
::-webkit-scrollbar {
  height: 50px;
  width: 10px;
  overflow-y: scroll;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-track{
  background-color: var(--color-primary-a10);
}

::-webkit-scrollbar-thumb {
  border-radius: 2ex;
  -webkit-box-shadow: inset 0 0 0px var(--color-primary-a0); 
  background: linear-gradient(180deg, var(--color-primary-a10) 0%, var(--color-primary-a50) 100%);
}

/* Text-based 88x31 Button Styling */
.missing-button {
  transform: scale(calc(1.0 + 1.0 * var(--big)));
  transform-origin: top left;
  vertical-align: middle;
}

.missing-button, image {
  box-sizing: border-box;
  border-style: outset;
  border-width: 2px;
}

@font-face {
  font-family: mario;
  src: url("/fonts/Super-Mario-World.ttf") format("truetype");
}

.buttontext {
  font-family: 'mario';
  font-size: 8px;
  stroke: white;
  paint-order: stroke;
  stroke-width: 3px;
  fill: #000000;
  text-anchor: middle;
}

.missing-button:hover{
  text-shadow: none;
}

/* Flexbox / Flex */
.container {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: center;
  gap: 20px;
}

.flex-item {
  width: 42%;
  flex-grow: 1;
}

.toy-flex-item {
  border: 1px solid var(--toybox-outline);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px 2px var(--toybox-outline);
  width: 42%;
  flex-grow: 1;
}
/* container */
.responsive-two-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* postage stamp border */
.stamp { /* credit: https://codepen.io/joshwcomeau/pen/VwRqQGP */
  --radius: .2em;
  background-image: 
    radial-gradient(
      var(--radius),
      transparent 98%,
      white
    ),
    linear-gradient(white 0 0);
  background-repeat: 
    round, 
    no-repeat;
  background-position:
    calc(var(--radius) * -1.5) calc(var(--radius) * -1.5),
    50%;
  background-size:
    calc(var(--radius) * 3) calc(var(--radius) * 3),
    calc(100% - var(--radius) * 3) calc(100% - var(--radius) * 3);
  padding: .4em;
  margin: .4em;
  filter: drop-shadow(0 0 10px var(--color-primary-a70));
}

/* Mastodon Styling */
.masto-article {
  margin-bottom: 1em;
}
.masto-article > p {
  margin-block-start: 0;
}
.avatar-img {
  width: 100%;
}
.masto-header, .masto-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1em;
}
img.masto-img {
  border-radius: 1em;
  aspect-ratio: 1 / 1;
  height: 200px;
  object-fit: cover;
  object-position: center center;
  margin-top: 1em;
}

/* About Me Page */

#piccrew {
  float: left;
  position: relative;
  top: 1em;
  display: inline-block;
  z-index: 1;
  max-width: 175px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  shape-outside: url(/graphics/layout/piccrew.png);
  shape-image-threshold: 0.0;
  transition: all 1.5s;
}

#piccrew:hover {
  transform: rotate(20deg);
  transition: all 1.5s;
  animation-direction: alternate;
}

#moomin {
  float: right;
  width: 93px;
  shape-outside: url(/graphics/toy/moomin_by_SqdPxl.gif);
  shape-margin: 15px;
  shape-image-threshold: 0.0;
}
#snufkin {
  float: left;
  shape-outside: url(/graphics/toy/snufkin_by_Caicyo.png);
  shape-margin: 15px;
  shape-image-threshold: 0.0;
}
.color-stroke-info {
  border-radius: 10px;
  background-color: var(--color-primary-a10);
  margin-bottom: 3em;
  width: 90%;
  position: relative;
  left: 1.5em;
  top: 1.2em;
}

.outline-info {
  border: 2px dashed var(--color-primary-a50);
  border-radius: 10px;
  padding: 1em;
  position: relative;
  top: .5em;
  left: .5em;
}

.color-stroke {
  border-radius: 10px;
  background-color: var(--color-primary-a10);
}

.dashed-outline {
  border: 2px dashed var(--color-primary-a50);
  border-radius: 10px;
  padding: .3em;
  position: relative;
  top: 6px;
  left: 6px;
}
#healthgoals > p, #hobbygoals > p, #practicing > p, #dislikes > p, #likes > p {
  margin-top: .7em;
  padding-left: .5em;
}
.trans {
  background-image: linear-gradient( /** credit: https://cesque.com/gaydient/ **/
      to right, 
      rgb(85, 205, 252), 
      rgb(179, 157, 233), 
      rgb(247, 168, 184), 
      rgb(246, 216, 221), 
      rgb(255, 255, 255) 45%, 
      rgb(255, 255, 255), 
      rgb(255, 255, 255) 55%, 
      rgb(246, 216, 221), 
      rgb(247, 168, 184), 
      rgb(179, 157, 233), 
      rgb(85, 205, 252));
  background-repeat: no-repeat;
  background-position: bottom -1px right 0px;
  background-size: 100% 4px;
}
.nb {
  background-image: linear-gradient( /** credit: https://cesque.com/gaydient/ **/
      to right, 
      rgb(253, 219, 0), 
      rgb(238, 212, 143), 
      rgb(255, 255, 255) 30%, 
      rgb(255, 255, 255), 
      rgb(255, 255, 255) 36%, 
      rgb(212, 181, 222), 
      rgb(156, 92, 212), 
      rgb(88, 50, 96), 
      rgb(0, 0, 0)); 
  background-repeat: no-repeat;
  background-position: bottom -1px right 0px;
  background-size: 100% 4px;
}

/* blog styling */

.blog-nav {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center;
  gap: 1em;
}

.blog-nav-link {
  border-radius: .5em;
  background-color: var(--color-primary-a10);
  border: var(--color-primary-a50) 1px solid;
  margin: .4em;
  padding: .2em 1em;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.list-group-item:last-child {
    border-bottom: none;
}

.list-group-item {
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.post-container {
  display: inline-grid;
  grid-template-areas: 
    "flag post-title post-title"
    "tags postcontent postcontent"
    "post-meta postcontent postcontent";
  grid-template-columns: 120px auto auto;
  justify-items: start;
  width: 100%;
  border-radius: .5em;
  border: var(--color-primary-a50) 1px solid;
}
.postcontent {
  grid-area: postcontent;
  padding: 0em 1em;
  margin-bottom: .5em;
}
.postcontent > p {
  margin-block-start: 0;
}
.post-header {
  width: 100%;
  display: flex;
  align-items: stretch;
}

.flag {
    grid-area: flag;
    clip-path: polygon(0% 0%, 100% 0%, 85% 50%, 100% 100%, 0% 100%);
    background-color: var(--color-primary-a10);
    padding: 5px 10px;
    width: 80%;
    float: right;
    position: relative;
    top: .5em;
    margin-bottom: .5em;
    align-self: center;
}
/* tablets or smaller */
@media (max-width:768px) {
  .flag {
      display: none;
  }
  .post-container {
      display: inline-grid;
      grid-template-areas: 
          "post-title post-title post-title"
          "postcontent postcontent postcontent"
          "post-meta tags tags";
      grid-template-columns: repeat(3, 1fr);
      padding-top: .5em;
      row-gap: .5em;
  }
  .tags {
    padding: 0;
    line-height: 2ch;
    display: flex;
    flex-flow: wrap;
    align-items: end;
    justify-content: end;
    flex-direction: row end;
    justify-self: end;
  }
  
  .tag-item {
    margin: 0 .25rem;
  }
  
  .post-meta {
      border-top: var(--color-primary-a50) 1px solid;
      border-right: var(--color-primary-a50) 1px solid;
      border-top-right-radius: .5em;
      display: flex;
      justify-content: center;
  }
  .post-meta > * {
      align-self: center;
      width: 100%;
      padding: 0%;
      margin: auto;
      font-size: small;
  }
  .mobile-date {
      border-right: var(--color-primary-a50) 1px solid;
  }
}

/* tablets or bigger */
@media (min-width:769px) {
  .mobile-date, .mobile-tags {
      display: none;
  }
  .tag-item {
      width: 100%;
  }
}

.post-title {
  grid-area: post-title;
  padding: .2em 1em;
  margin-top: auto;
  margin-bottom: auto;
}

.post-meta {
  grid-area: post-meta;
  width: 100%;
  display: flex;
  align-items: end;
  font-size: small;
}

.post-meta > * {
  text-align: center;
  padding: .2em .5em;
  line-height: 1.2em;
}

.flag-date {
  white-space: nowrap;
}
.blog-flag-cal-svg {
  filter: var(--color-primary-a80-filter);
  height: 1.2em;
  vertical-align: -4px;
  padding-right: 5px;
}
.clock-svg {
  height: 1em;
  vertical-align: -2px;
  padding-right: 5px;
  width: auto;
}
.tags {
  grid-area: tags;
  text-align: left;
  padding-left: 10px;
}

.tags > * {
  font-size: small;
}

/* blog tags */
.tag-item {
  display: inline-block;
}
.tag-url:hover{
  background-image: none;
}
.index-svg {
  height: 1em;
  vertical-align: -2px;
  padding-right: 5px;
  width: auto;
  filter: var(--color-primary-a80-filter);
}