｡･:*˚:✧｡ 
<a href="/" title="return to home"><img src="/graphics/site_buttons/LostLetters88x31.gif" width="88px" alt="88x31 site button in the shape of a unicorn with blinking stars"></a>
｡✧:˚*:･｡
<br>
<div id="neocities-stats">
    last updated: <span id="lastupdate"></span> &nbsp; &#10041; &nbsp;total vistors: <span id="hitcount"></span>
</div>
<div class="return-top"><a href="#top">return to top</a></div>
<script src="//gc.zgo.at/count.js" data-goatcounter="https://lostletters.goatcounter.com/count" async></script>
<script src="/tinkerbelleffect.js"></script>
<script src="/webmention.min.js" async></script>
<script src="/navigation.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script src="/jquery.style-my-tooltips.js"></script>
<script src="/theme-switch.js"></script>
<script src="https://tinylytics.app/embed/4jSy1M3LmxHVUq2Wvsnj.js?hits&kudos=❤️" defer></script>
<script>
    (function($){
        $(document).ready(function(){
            $("[title]").style_my_tooltips();
        });
    })(jQuery);
</script>
<script>
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var site_data = JSON.parse(this.responseText);
            var num_arr = site_data.info.views.toString().split("");
            var num_str = "";
            for (i = 0; i < num_arr.length; i++) {
                num_str += num_arr[i];
                if ( (num_arr.length-1 - i) % 3 == 0 && (num_arr.length-1 - i) != 0 ) {num_str += ",";}
                var date_str = site_data.info.last_updated;
                var date_obj = new Date(site_data.info.last_updated);
                document.getElementById("lastupdate").innerHTML = (date_obj.getMonth()+1) + "-" + date_obj.getDate() + "-" + date_obj.getFullYear();
            }
            document.getElementById("hitcount").innerHTML = num_str;
        }
    };
    xhttp.open("GET", "https://weirdscifi.ratiosemper.com/neocities.php?sitename=lostletters", true);
    xhttp.send();
</script>