<a target="_blank" class="noext" aria-label="Mastodon" title="Mastodon" href="https://cutie.city/@lostletters" rel="me">
    <img class="inline-svg" src="/graphics/phosphoricons/mastodon-logo.svg">
</a>
<a target="_blank" class="noext" aria-label="Neocities profile" title="Neocities profile" href="https://neocities.org/site/lostletters">
    <img class="inline-svg" src="/graphics/phosphoricons/hard-hat.svg">
</a>
<a target="_blank" class="noext" aria-label="StoryGraph" title="StoryGraph" href="https://app.thestorygraph.com/profile/lostletters" rel="me">
    <img class="inline-svg" src="/graphics/phosphoricons/books.svg">
</a>
<a target="_blank" class="noext" aria-label="The Final Outpost" title="The Final Outpost" href="https://finaloutpost.net/visit/lostletters" rel="me">
    <img class="inline-svg" src="/graphics/phosphoricons/flask.svg">
</a>
<a target="_blank" class="noext" aria-label="Dragon Cave" title="Dragon Cave" href="https://dragcave.net/user/lostletters" rel="me">
    <img class="inline-svg" src="/graphics/phosphoricons/egg-crack.svg">
</a>
<a target="_blank" class="noext" aria-label="Ravelry" title="Ravelry" href="https://www.ravelry.com/projects/foolishfibers" rel="me">
    <img class="inline-svg" src="/graphics/phosphoricons/yarn.svg">
</a>