<!-- inspired by https://www.benji.dog/ -->
<footer class="noext" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 0;">
    <div>
        {% include layout/elsewhere.html %}
    </div>
    <div>
        <a href="#top" aria-label="return to top" title="return to top">
            <img class="inline-svg" src="/graphics/phosphoricons/arrow-up.svg">
        </a>
        <a href="/" aria-label="return home" title="return home">
            <img class="inline-svg" src="/graphics/phosphoricons/house.svg">
        </a>
        <a href="/guestbook/" aria-label="sign my guestbook" title="sign my guestbook">
            <img class="inline-svg" src="/graphics/phosphoricons/pencil-line.svg">   
        </a>
        <a href="https://github.com/toritried/lostletters" aria-label="view source code on github" title="view source code on github">
            <img class="inline-svg" src="/graphics/phosphoricons/code.svg">
        </a>
    </div>
</footer>
<script src="//gc.zgo.at/count.js" data-goatcounter="https://lostletters.goatcounter.com/count" async></script>
<script src="/tinkerbelleffect.js"></script>
<script src="/webmention.min.js" async></script>
<script src="/navigation.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script src="/jquery.style-my-tooltips.js"></script>
<script src="/theme-switch.js"></script>
<script src="/mastodon.js" defer></script>
<script>
    (function($){
        $(document).ready(function(){
            $("[title]").style_my_tooltips();
        });
    })(jQuery);
</script>
<script>
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var site_data = JSON.parse(this.responseText);
            var num_arr = site_data.info.views.toString().split("");
            var num_str = "";
            for (i = 0; i < num_arr.length; i++) {
                num_str += num_arr[i];
                if ( (num_arr.length-1 - i) % 3 == 0 && (num_arr.length-1 - i) != 0 ) {num_str += ",";}
                var date_str = site_data.info.last_updated;
                var date_obj = new Date(site_data.info.last_updated);
                document.getElementById("lastupdate").innerHTML = (date_obj.getMonth()+1) + "-" + date_obj.getDate() + "-" + date_obj.getFullYear();
            }
            document.getElementById("hitcount").innerHTML = num_str;
        }
    };
    xhttp.open("GET", "https://weirdscifi.ratiosemper.com/neocities.php?sitename=lostletters", true);
    xhttp.send();
</script>