<div class="mobile_nav">
    <a href="/feed.xml" aria-label="RSS feed" title="RSS feed">
        <img class="inline-svg" src="/graphics/phosphoricons/rss.svg">
    </a>
    <a class="blog-link" href="/blog.html">blog</a>
    <button class="dropbtn" aria-controls="dropdown-webcore" aria-expanded="false">
        💾 webcore
        <span class="fa fa-caret-down"></span>
    </button>
    <button class="dropbtn" aria-controls="dropdown-hobbies" aria-expanded="false">
        ✒️ hobbies
    <span class="fa fa-caret-down"></span>
    </button>
    <button class="dropbtn" aria-controls="dropdown-about" aria-expanded="false">
        🔎 about
        <span class="fa fa-caret-down"></span>
    </button>
    <button class="dropbtn" aria-controls="dropdown-themes" aria-expanded="false">
        ✨ themes
        <span class="fa fa-caret-down"></span>
    </button>
    <div class="dropdown-content" id="dropdown-webcore">
        Digital Life: {% for page in site.pages %}
            {% if page.menu == "webcore" %}
            <a href="{{ page.url }}">
                {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
                {{ page.title }}
            </a>
            {% endif %}
        {% endfor %}
        <br>
        Jams & Experiments: {% for page in site.pages %}
            {% if page.menu == "experiments" %}
            <a href="{{ page.url }}">
                {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
                {{ page.title }}
            </a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="dropdown-content" id="dropdown-hobbies">
        Hobbies: {% for page in site.pages %}
            {% if page.menu == "hobbies" %}
            <a href="{{ page.url }}">
                {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
                {{ page.title }}
            </a>
            {% endif %}
        {% endfor %}
        <br>
        Games: {% for page in site.pages %}
            {% if page.menu == "games" %}
            <a href="{{ page.url }}">
                {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
                {{ page.title }}
            </a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="dropdown-content" id="dropdown-about">
        Author: {% for page in site.pages %}
            {% if page.menu == "about" %}
            <a href="{{ page.url }}">
                {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
                {{ page.title }}
            </a>
            {% endif %}
        {% endfor %}
        <br>
        Site: {% for page in site.pages %}
        {% if page.menu == "site" %}
        <a href="{{ page.url }}">
            {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
            {{ page.title }}
        </a>
        {% endif %}
        {% endfor %}
    </div>
    <div class="dropdown-content" id="dropdown-themes">
        {% include layout/themes.html %}
    </div>
</div>