<div class="mobile_nav">
    <a href="/feed.xml" aria-label="RSS feed" title="RSS feed">
        <img class="inline-svg" src="/graphics/phosphoricons/rss.svg">
    </a>
    <a class="blog-link" href="/blog.html">blog</a>
    <button class="dropbtn" aria-controls="dropdown-webcore" aria-expanded="false">
        💾 webcore
        <span class="fa fa-caret-down"></span>
    </button>
    <button class="dropbtn" aria-controls="dropdown-stationery" aria-expanded="false">
        ✒️ stationery
    <span class="fa fa-caret-down"></span>
    </button>
    <button class="dropbtn" aria-controls="dropdown-ttrpg" aria-expanded="false">
        🦄 ttrpgs
    <span class="fa fa-caret-down"></span>
    </button>
    <button class="dropbtn" aria-controls="dropdown-health" aria-expanded="false">
        🧠 health
    <span class="fa fa-caret-down"></span>
    </button>
    <button class="dropbtn" aria-controls="dropdown-about" aria-expanded="false">
        🔎 about
        <span class="fa fa-caret-down"></span>
    </button>
    <button class="dropbtn" aria-controls="dropdown-themes" aria-expanded="false">
        ✨ themes
        <span class="fa fa-caret-down"></span>
    </button>
    <div class="dropdown-content" id="dropdown-webcore">
        {% for page in site.pages %}
            {% if page.menu == "webcore" %}
            <a href="{{ page.url }}">
                {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
                {{ page.title }}
            </a>
            {% endif %}
        {% endfor %}
        {% for page in site.pages %}
            {% if page.menu == "meta" %}
            <a href="{{ page.url }}">
                {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
                {{ page.title }}
            </a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="dropdown-content" id="dropdown-stationery">
        {% for page in site.pages %}
            {% if page.menu == "stationery" %}
            <a href="{{ page.url }}">
                {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
                {{ page.title }}
            </a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="dropdown-content" id="dropdown-ttrpg">
        {% for page in site.pages %}
            {% if page.menu == "ttrpg" %}
            <a href="{{ page.url }}">
                {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
                {{ page.title }}
            </a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="dropdown-content" id="dropdown-health">
        Running: {% for page in site.pages %}
            {% if page.menu == "running" %}
            <a href="{{ page.url }}">
                {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
                {{ page.title }}
            </a>
            {% endif %}
        {% endfor %}
        <br>
        Other: {% for page in site.pages %}
            {% if page.menu == "health" %}
            <a href="{{ page.url }}">
                {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
                {{ page.title }}
            </a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="dropdown-content" id="dropdown-about">
        Author: {% for page in site.pages %}
            {% if page.menu == "about" %}
            <a href="{{ page.url }}">
                {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
                {{ page.title }}
            </a>
            {% endif %}
        {% endfor %}
        <br>
        Site: {% for page in site.pages %}
        {% if page.menu == "site" %}
        <a href="{{ page.url }}">
            {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
            {{ page.title }}
        </a>
        {% endif %}
        {% endfor %}
    </div>
    <div class="dropdown-content" id="dropdown-themes">
        {% include layout/themes.html %}
    </div>
</div>