<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost Letters</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" id="switcher-id" href="">
    <link rel="icon" href="/graphics/favicon/ribbon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Asul" rel="stylesheet">
    <link href="/style-my-tooltips.css" rel="stylesheet" type="text/css"/>
    <link rel="me" href="https://cutie.city/@lostletters"/>
    <link rel="me" href="https://github.com/toritried"/>
    <link rel="webmention" href="https://webmention.io/lostletters.neocities.org/webmention"/>
    <link rel="pingback" href="https://webmention.io/lostletters.neocities.org/xmlrpc"/>
</head>
<body>
    <div class="holy-grail-grid"><header class="header">
        <div class="title">
            <a href="/">
                Welcome to Lost Letters
            </a>
        </div>
        <div class="mobile_nav">
            <a target="_blank" href="https://lostletters.neocities.org/feed.xml" style="background-image: none; letter-spacing: normal;">
                <img src="/graphics/layout/v1_laceletter/feed.gif" width="16px" title="RSS feed" style="cursor: pointer;"/>
            </a>
            <a class="blog-link" href="/blog.html">blog</a>
                <button class="dropbtn" aria-controls="dropdown-webcore" aria-expanded="false">
                    💾 webcore
                    <span class="fa fa-caret-down"></span>
                </button>
                <button class="dropbtn" aria-controls="dropdown-stationery" aria-expanded="false">
                    ✒️ stationery
                <span class="fa fa-caret-down"></span>
                </button>
                <button class="dropbtn" aria-controls="dropdown-ttrpg" aria-expanded="false">
                    🦄 ttrpgs
                <span class="fa fa-caret-down"></span>
                </button>
                <button class="dropbtn" aria-controls="dropdown-health" aria-expanded="false">
                    🧠 health
                <span class="fa fa-caret-down"></span>
                </button>
                <button class="dropbtn" aria-controls="dropdown-about" aria-expanded="false">
                    🔎 about
                    <span class="fa fa-caret-down"></span>
                </button>
            <div class="dropdown-content" id="dropdown-webcore">
                {% for page in site.pages %}
                    {% if page.menu == "webcore" %}
                    <a href="{{ page.url }}">
                        {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
                        {{ page.title }}
                    </a>
                    {% endif %}
                {% endfor %}
                {% for page in site.pages %}
                    {% if page.menu == "meta" %}
                    <a href="{{ page.url }}">
                        {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
                        {{ page.title }}
                    </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="dropdown-content" id="dropdown-stationery">
                {% for page in site.pages %}
                    {% if page.menu == "stationery" %}
                    <a href="{{ page.url }}">
                        {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
                        {{ page.title }}
                    </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="dropdown-content" id="dropdown-ttrpg">
                {% for page in site.pages %}
                    {% if page.menu == "ttrpg" %}
                    <a href="{{ page.url }}">
                        {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
                        {{ page.title }}
                    </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="dropdown-content" id="dropdown-health">
                Running: {% for page in site.pages %}
                    {% if page.menu == "running" %}
                    <a href="{{ page.url }}">
                        {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
                        {{ page.title }}
                    </a>
                    {% endif %}
                {% endfor %}
                <br>
                Other: {% for page in site.pages %}
                    {% if page.menu == "health" %}
                    <a href="{{ page.url }}">
                        {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
                        {{ page.title }}
                    </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="dropdown-content" id="dropdown-about">
                Author: {% for page in site.pages %}
                    {% if page.menu == "about" %}
                    <a href="{{ page.url }}">
                        {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
                        {{ page.title }}
                    </a>
                    {% endif %}
                {% endfor %}
                <br>
                Site: {% for page in site.pages %}
                {% if page.menu == "site" %}
                <a href="{{ page.url }}">
                    {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
                    {{ page.title }}
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </header>
    <main class="main-content floating">
        {{ content }}
        <br>
        <div id="webmentions"></div>
    </main>
    <section class="left-sidebar">
        <div class="floating">
            <div class="nav-title"><img src="/graphics/toy/emoticons/flower-2-watercolor.gif" style="vertical-align: middle;" alt=""> about <img src="/graphics/toy/emoticons/flower-2-watercolor.gif" style="vertical-align: middle;" alt=""></div>
            <div class="desktop-sidebar-content">
                Author:
                <br>
                {% for page in site.pages %}
                    {% if page.menu == "about" %}
                    <a href="{{ page.url }}">
                        {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
                        {{ page.title }}
                    </a><br>
                    {% endif %}
                {% endfor %}
                ✏️ <a href="/blog.html">blog</a>
                <br>
                Site:
                <br>
                {% for page in site.pages %}
                {% if page.menu == "site" %}
                <a href="{{ page.url }}">
                    {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
                    {{ page.title }}
                </a><br>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="floating">
            <div class="nav-title"><img src="/graphics/toy/emoticons/happy-sony-cat.gif" style="vertical-align: middle;" alt=""> webcore <img src="/graphics/toy/emoticons/happy-sony-cat.gif" style="vertical-align: middle;" alt=""></div>
            <div class="desktop-sidebar-content">
                {% for page in site.pages %}
                    {% if page.menu == "webcore" %}
                    <a href="{{ page.url }}">
                        {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
                        {{ page.title }}
                    </a><br>
                    {% endif %}
                {% endfor %}
                {% for page in site.pages %}
                    {% if page.menu == "meta" %}
                    <a href="{{ page.url }}">
                        {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
                        {{ page.title }}
                    </a><br>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            <div class="floating">
                <div class="nav-title"><img src="/graphics/toy/emoticons/mail-watercolor.gif" style="vertical-align: middle;" alt=""> stationery <img src="/graphics/toy/emoticons/mail-watercolor.gif" style="vertical-align: middle;" alt=""></div>
            <div class="desktop-sidebar-content">
                {% for page in site.pages %}
                    {% if page.menu == "stationery" %}
                    <a href="{{ page.url }}">
                        {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
                        {{ page.title }}
                    </a><br>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="floating">
            <div class="nav-title"><img src="/graphics/toy/emoticons/love_cat.gif" style="vertical-align: middle;" alt=""> ttrpgs <img src="/graphics/toy/emoticons/love_cat.gif" style="vertical-align: middle;" alt=""></div>
            <div class="desktop-sidebar-content">
                {% for page in site.pages %}
                    {% if page.menu == "ttrpg" %}
                    <a href="{{ page.url }}">
                        {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
                        {{ page.title }}
                    </a><br>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="floating">
            <div class="nav-title"><img src="/graphics/toy/emoticons/hearts-watercolor.gif" style="vertical-align: middle;" alt=""> health <img src="/graphics/toy/emoticons/hearts-watercolor.gif" style="vertical-align: middle;" alt=""></div>
            <div class="desktop-sidebar-content">
                Running:
                <br>
                {% for page in site.pages %}
                    {% if page.menu == "running" %}
                    <a href="{{ page.url }}">
                        {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
                        {{ page.title }}
                    </a><br>
                    {% endif %}
                {% endfor %}
                Other: 
                <br>
                {% for page in site.pages %}
                    {% if page.menu == "health" %}
                    <a href="{{ page.url }}">
                        {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
                        {{ page.title }}
                    </a><br>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <aside class="right-sidebar right-hide">
        <div class="theme-picker floating">
            <div class="nav-title">pick a theme</div>
            <div class="desktop-sidebar-content">
                <center>
                    <div class="theme-switches">
                        <div data-theme="stars" class="switch" id="switch-1">🌠</div>
                        <div data-theme="purple" class="switch" id="switch-2">💜</div>
                        <div data-theme="mail" class="switch" id="switch-3">💌</div>
                        <div data-theme="spooky" class="switch" id="switch-4">🎃</div>
                    </div>
                </center>
            </div>
        </div>
        <div class="floating" id="site-buttons" style="text-align: center;">
            <div class="nav-title">Link my site</div>
            <img src="/graphics/site_buttons/LostLetters88x31.gif">&nbsp;&nbsp;<img src="/graphics/site_buttons/LostLetters32x32.gif">
            <br>
            If you've linked my site, let me know so we can become <a href="/links/">net neighbors</a>!
        </div>
        <div class="floating" id="status-cafe">
            <div class="nav-title">microblog</div>
                <div id="statuscafe-username"></div>&nbsp;&nbsp;<div id="statuscafe-content"></div>
                <script src="https://status.cafe/current-status.js?name=lostletters" defer></script>
                <br>
                <div style="text-align: center;">
                    <a href="/microblog">read all entries</a>
                </div>
        </div>
        <div class="floating" id="elsewhere-sidebar">
            <div class="nav-title">Find me elsewhere</div>
            <ul>
                <li>
                    <a target="_blank" href="https://cutie.city/@lostletters" rel="me">Mastodon</a>
                </li>
                <li>
                    <a target="_blank" href="https://neocities.org/site/lostletters">Neocities profile</a>
                </li>
                <li>
                    <a target="_blank" href="https://github.com/toritried/lostletters">Github</a>
                </li>
                <li>
                    <a target="_blank" href="https://app.thestorygraph.com/profile/lostletters" rel="me">StoryGraph</a>
                </li>
                <li>
                    <a target="_blank" href="https://finaloutpost.net/visit/lostletters" rel="me">The Final Outpost</a>
                </li>
                <li>
                    <a target="_blank" href="https://dragcave.net/user/lostletters" rel="me">Dragon Cave</a>
                </li>
                <li>
                    <a target="_blank" href="https://neopets.com/userlookup.phtml?user=waterfish57" rel="me">Neopets</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.ravelry.com/projects/foolishfibers" rel="me">Ravelry</a>
                </li>
            </ul>
        </div>
        <div class="noext floating" style="text-align: center;"> <!-- Button Wall -->
            <img src="/graphics/toy/tags/transrights.png" title="trans rights!">
            <a target="_blank" href="/pride/">
                <img src="/graphics/toy/tags/lgbt_pan.png" title="pansexual af">
            </a>
            <img src="/graphics/toy/tags/pride2.gif" title="queer af">
            <img src="/graphics/toy/tags/union-member.png" title="Union Strong!">
            <img src="/graphics/toy/tags/veganalways.png" title="I'm just doing the best I can in Japan where it's horrible for vegans 🙃">
            <a target="_blank" href="/origins/">
                <img src="/graphics/toy/tags/alignment_chaotic_good.png" title="click for my chaotic good origin story">
            </a>
            <a target="_blank" href="https://www.neopets.com/userlookup.phtml?user=waterfish57">
                <img src="/graphics/toy/tags/neopets.png" title="neopets badge from web.badges.world">
            </a>
            <a target="_blank" href="/tamagotchi/">
                <img src="/graphics/toy/tags/tama.png" title="wanna see my collection?">
            </a>
            <br>
            <a target="_blank" href="https://lostletters.neocities.org/feed.xml">
                <img src="/graphics/linkout/rss.gif" title="Only my freshest blog posts delivered straight to you via RSS!">
            </a>
            <a target="_blank" href="https://webmentions.neocities.org/">
                <img src="/graphics/linkout/webmentions_anim.gif" title="If you mention this site's URL on mastodon, it'll display like a comment on that specific page! So cool, right? Go enable it on your site too!">
            </a>
            <a target="_blank" href="https://kalechips.net/responsive/index">
                <img src="/graphics/linkout/responsive-web-directory.png" title="Part of the Responsive Web Directory">
            </a>
            <a target="_blank" href="https://jekyllrb.com/">
                <img src="/graphics/linkout/jekyll.png" title="I use Jekyll as my Static Site Generator">
            </a>
            <a target="_blank" href="https://neocities.org/site/lostletters">
                <img src="/graphics/linkout/neocitiespink.gif" title="Proudly hosted by NeoCities!">
            </a>
            <a target="_blank" href="https://32bit.cafe/">
                <img src="/graphics/linkout/32bitcafe.gif" title="32bit.cafe is an awesome 18+ community of website hobbyists and pros. The cafe site has tutorials and resources to help you build your own place on the web and more.">
            </a>
            <a target="_blank" href="https://forum.melonland.net/">
                <img src="/graphics/linkout/melonland-forum.gif" title="Find me on the MelonLand Forum as Lost Letters!">
            </a>
            <a  target="_blank" href="https://cyber-rot.neocities.org/mine">
                <img src="/graphics/linkout/webdesign.gif" title="Webdesign is my passion button by cyber-rot">
            </a>
            <a  target="_blank" href="https://www.deviantart.com/kouenli/art/Forever-Online-Stamp-626217529">
                <img src="/graphics/linkout/forever-online.gif" title="Forever online button by kouenli (DeviantArt)">
            </a>
            <a target="_blank" href="https://plasticdino.neocities.org/graphics">
                <img src="/graphics/linkout/queer.png" title="You're telling me a queer coded this button by kitty">
            </a>
            <a target="_blank" href="https://rainy.gay/">
                <img src="/graphics/linkout/progress.png" title="Progress Pride flag button by Dime">
            </a>
            <a target="_blank" href="https://yesterweb.org/no-to-web3/">
                <img src="/graphics/linkout/nft_sadgrl.gif" title="anti-NFT button by sadgrl.online">
            </a>
            <a target="_blank" href="https://yourdevilfriends.neocities.org/creative/freebies">
                <img src="/graphics/linkout/masknow.png" title="Wear a mask now button by devils">
            </a>
            <img src="/graphics/linkout/acab.gif" title="ACAB button - not sure who made this, so please drop me a note if you know who did in my guestbook. Attribution is so important!">
            <a target="_blank" href="https://zanarkand.neocities.org/">
                <img src="/graphics/linkout/bob.gif" title="Powered by bob button by zanarkand">
            </a>
        </div>
    </aside>
        <footer class="footer">
            <div class="floating">
                {% include footer.html %}
            </div>
        </footer>
    </div>
</body>
</html>
