<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A personal site home to the Afternoon Tea Pixel Club">
    <title>Lost Letters</title>
    <link rel="icon" href="/graphics/favicon/df10-icon-ribbon.gif" type="image/gif">
    <link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet">
    <link href="/style.css" rel="stylesheet" type="text/css" media="all">
    <style>
      @font-face {
        font-family: 'alagard';
        src: url(/fonts/alagard.woff);}
        /*font credit: https://www.dafont.com/alagard.font*/
    </style>
    <!-- this is for setting up webmentions.neocities.org -->
    <link rel="me" href="https://github.com/toritried" />
    <link rel="webmention" href="https://webmention.io/lostletters.neocities.org/webmention" />
    <link rel="pingback" href="https://webmention.io/lostletters.neocities.org/xmlrpc" />
  </head>
  <body>
    <div class = "banner"></div>
    <br><br><br><br><br><br>
    <div align="center">
      <div class = "box17" >
        <div class = "box-top" >
          <div class = "u01" >
          </div>
        </div> 
        <div class = "box-center" >
          <div class = "box-inner" >
            <header>
              <h1><a href="/" class="welcome">Welcome to Lost Letters</a></h1>
            </header>
            <div class="navbar">
              <button class="dropbtn" aria-controls="dropdown-pages" aria-expanded="false">
                💖pages 
                <span class="fa fa-caret-down"></span>
              </button>
              <button class="dropbtn" aria-controls="dropdown-about" aria-expanded="false">
                💌 about 
                <span class="fa fa-caret-down"></span>
              </button>
              <button class="dropbtn" aria-controls="dropdown-meta" aria-expanded="false">
                🍄 meta
                <span class="fa fa-caret-down"></span>
              </button>
              <div>
                <div class="dropdown-content" id="dropdown-pages">
                  <a href="/blog.html">📝 blog</a>
                  {% for page in site.pages %}
                    {% if page.menu == "pages" %}
                      <a href="{{ page.url }}">
                        {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
                        {{ page.title }}
                      </a>
                    {% endif %}
                  {% endfor %}
                </div>
                <div class="dropdown-content" id="dropdown-about">
                  {% for page in site.pages %}
                    {% if page.menu == "about" %}
                      <a href="{{ page.url }}">
                        {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
                        {{ page.title }}
                      </a>
                    {% endif %}
                  {% endfor %}
                </div>
                <div class="dropdown-content" id="dropdown-meta">
                  {% for page in site.pages %}
                    {% if page.menu == "meta" %}
                      <a href="{{ page.url }}">
                        {% if page.emoji %}<span class="emoji" aria-hidden="true">{{ page.emoji }}</span>{% endif %}
                        {{ page.title }}
                      </a>
                    {% endif %}
                  {% endfor %}
                  <a target="_blank" href="https://social.yesterweb.org/@lostletters" rel="me">🦣 web dev toots</a>
                  <a target="_blank" href="https://github.com/toritried/lostletters">👩🏻‍💻 source code</a>
                  <a target="_blank" href="https://neocities.org/site/lostletters">🌆 neocities</a>
                  <a target="_blank" href="http://users.smartgb.com/g/g.php?a=s&i=g19-00587-ce">📓 guestbook</a>
                </div>
              </div>
            </div>
            <main>
              <div align="left">
                <div slot="content">
                  {{ content }}
                  <br>
                  <div id="webmentions"></div>
                  <br>
                  <br>
                  <center><a href="/index.html">🏠</a></center>
                </div>
              </div>
            </main>
          </div>
        </div>
        <div class = "box-bottom" >
          <div class = "s01" >
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>