<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lost Letters">
    <title>Lost Letters</title>
    <link rel="icon" href="/graphics/favicon/df10-icon-ribbon.gif" type="image/gif">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Asul" rel="stylesheet">
    <link href="/space-style.css" rel="stylesheet" type="text/css" media="all">
    <link href="/style-my-tooltips.css" rel="stylesheet" type="text/css" />
    <!-- this is for setting up webmentions.neocities.org -->
    <link rel="me" href="https://github.com/toritried" />
    <link rel="webmention" href="https://webmention.io/lostletters.neocities.org/webmention" />
    <link rel="pingback" href="https://webmention.io/lostletters.neocities.org/xmlrpc" />
  </head>
  <body>
    <div id="wrapper" class="wrapper">
        
        <div id="aside" class="sidebar">
            <ul class="nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Experience</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Bio</a></li>
                <li><a href="#">Contact</a></li>
            </ul>

            <!-- <div>
                some extra text
            </div> -->
        </div><!-- /Aside -->

        <div id="content" class="content">
            <a class='button'></a>
            <h1>Flexbox Off-Canvas Side Menu</h1>
            <h2>Easy to use</h2>
        </div><!-- /Content -->

    </div>