---
layout: 3col
---
<center>
  <h2>{{ page.title }}</h2>
<i>Published on {{ page.date | date_to_string }}
  <br>
  {% for tag in page.tags %}
  <a class="post" href="/tag/{{tag}}">#{{tag}}</a>{% unless forloop.last %}, {% endunless %}
  {% endfor %}</i>
</center>
{{ content }}
<br>
<br>
<div class="post-nav">
  <div>
    {% if page.previous.url %}
      <a href="{{page.previous.url}}">
        <span class="unsighted">Previous post:</span>
        <span aria-hidden="true">&laquo;</span>
        {{page.previous.title}}
      </a>
    {% endif %}
  </div>
  <div class="post-nav-next">
    {% if page.next.url %}
    {% assign next_post_title_array = page.next.title | split: " " %}
    {% assign next_post_cape_length = next_post_title_array | size | minus: 1 %}
    {% assign next_post_cape = page.next.title | truncatewords: next_post_cape_length, "" %}
    {% assign next_post_spit = next_post_title_array | last %}
    <a href="{{page.next.url}}">
      <span class="unsighted">Next post:</span>
      {{next_post_cape}}
      <span style="white-space: nowrap;">
      {{next_post_spit}}
      <span aria-hidden="true">&raquo;</span>
      </span>
    </a>
    {% endif %}
  </div>
</div>