---
layout: 3col
---
<article>
  <div style="text-align: center;">
    <h1>{{ page.title }}</h1>
    Published on {{ page.date | date_to_string }} | {% include reading-time.html %}
    <br>
    {% for tag in page.tags %}
    <a class="post" href="/tag/{{tag}}">#{{tag}}</a>{% unless forloop.last %}, {% endunless %}
    {% endfor %}</i>
  </div>
  <p>
    {{ content }}
  </p>
  <!-- reactions by https://www.benji.dog/articles/interactions-or-reactions/ -->
  <open-heart href="https://corazon.sploot.com?id={{ post.url }}" emoji="❤️">❤️</open-heart>
  <!-- if you want more than one emoji, add another one of ^^^ and change the emoji value -->
  <!-- load webcomponent -->
  <script src="https://unpkg.com/open-heart-element" type="module"></script>
  <!-- when the webcomponent loads, fetch the current counts for that page -->
  <script>
    window.customElements.whenDefined('open-heart').then(() => {
      for (const oh of document.querySelectorAll('open-heart')) {
        oh.getCount()
      }
    })
    // refresh component after click
    window.addEventListener('open-heart', e => {
      e && e.target && e.target.getCount && e.target.getCount()
    })
  </script>
</article>
<br>
<div class="post-nav">
  <div>
    {% if page.previous.url %}
      <a href="{{page.previous.url}}">
        <span class="unsighted">Previous post:</span>
        <span aria-hidden="true">&laquo;</span>
        {{page.previous.title}}
      </a>
    {% endif %}
  </div>
  <div class="post-nav-next">
    {% if page.next.url %}
    {% assign next_post_title_array = page.next.title | split: " " %}
    {% assign next_post_cape_length = next_post_title_array | size | minus: 1 %}
    {% assign next_post_cape = page.next.title | truncatewords: next_post_cape_length, "" %}
    {% assign next_post_spit = next_post_title_array | last %}
    <a href="{{page.next.url}}">
      <span class="unsighted">Next post:</span>
      {{next_post_cape}}
      <span style="white-space: nowrap;">
      {{next_post_spit}}
      <span aria-hidden="true">&raquo;</span>
      </span>
    </a>
    {% endif %}
  </div>
</div>
